*.sln

.idea/
.vs/
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

Content/FlightRecords/
aero_table/**/__pycache__/

.vscode/.intellisense
.vscode/compileCommands_*
.vscode/c_cpp_properties.json

DroneSimulator.code-workspace
DroneSimulator.uproject.DotSettings.user
.DS_Store
